<div class="m-2 p-2">
  <h1>Tasks</h1>
  <p><%@tasks%></p>
  <ul>
    <% @tasks.each do |task| %>
      <input type="checkbox" <%="checked" if task.completed%>>
      <%= link_to task.title, task_path(task)%><br>
    <% end %>
  </ul>

  <button type="button" class="btn btn-outline-primary"><%=link_to "Create a new task", tasks_new_path%> </button>
</div>
