<h1>Tasks</h1>
<p><%@tasks%></p>
<ul>
  <% @tasks.each do |task| %>
    <input type="checkbox" <%="checked" if task.completed%>>
    <%= link_to task.title, task_path(task)%><br>
  <% end %>
</ul>

<%=link_to "Create a new task", tasks_new_path%>
